.nav-top {
    .logo {
        width: 200px;
        height: 30px;
        background: url("./assets/logo2x.png") top left no-repeat;
        background-size: 200px 30px;
        position: absolute;
        top: 15px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2f4050;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
}

.active {
    background-color: #4CAF50;
}
